@import 'https://fonts.googleapis.com/css?family=Lato';
@import 'https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap';

body {
   background: #fff;
   background-color: #fff; 
   color: black;
   font-family: Lato;
}

.reveal {
   font-family: Lato;
   font-size: 1.5em;
   font-weight: normal;
   color: black; }

/*********************************************
 * HEADERS
 *********************************************/
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
   margin: 0 0 20px 0;
   color: orange;
   font-family: Lato;
   font-weight: 600;
   line-height: 1.2;
   letter-spacing: normal;
   text-shadow: none;
   word-wrap: break-word; }

.reveal table {
   font-size: .75em;
}

.reveal pre {
   display: block;
   position: relative;
   width: 90%;
   margin: 20px auto;
   text-align: left;
   font-size: 1em;
   font-family: 'Source Code Pro';
   line-height: 1.2em;
   word-wrap: break-word;
   box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
   white-space: pre-wrap;       /* css-3 */
   white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
   white-space: -pre-wrap;      /* Opera 4-6 */
   white-space: -o-pre-wrap;    /* Opera 7 */
   word-wrap: break-word;
}

section.orange.background {
  background-color: orange;
  color: white;
}
